* {
    border: solid black thin;
}

body{
    border: solid black thin;
    width: 1500px;
    margin: 50px auto;
    background-color: rgb(162, 207, 223);
}

/* header */
#status{
    border: solid black thin;
    display: inline-block;
    width:1500px;
}

/* get 3 of a kind to win a jackpot! */
#status-winningRound{
    border: solid black thin;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    height: 40px;
    width: 700px;
    margin-top: 30px;
}

/*  */
#status-creditBox{
    border: solid black thin;
    display: inline-block;
    margin-left: 100px;
    margin-top: 20px;
    height: 75px;
    width: 500px;
}

#status-creditBox-text{
    display: inline-block;
    width: 250px;
    height: 25px;
}

/* credit: */
#status-creditBox-text h2{
    border: solid black thin;
    color: black;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    font-size: 35px;
}

/* $100 */
#status-dollar{
    border: solid black thin;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    width: 20px;
    margin-left: 10px;

}

/* left wager box w instructions */
#wagers{
    border: solid black thin;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(250, 217, 73);
    width: 250px;
    height: 800px;
    margin-top: 20px;
}

#wagers h2{
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
}

/* 1 5 10 buttons */
button{
    background-color: rgb(112, 228, 69);
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    border-style: outset;
    border-width: 7px;
    border-color: rgb(90, 165, 63);
    width: 220px;
    height: 75px;
    margin-left: 15px;
    margin-top: 75px;
}

button:hover{
    background-color: rgb(230, 49, 35);
    border-style: inset;
    border-width: 7px;
    border-color: rgb(174, 56, 26);
}

/* instructions */
#multipliers{
    border: solid black thin;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 100px;
    margin-left: 15px;
    height: 150px;
    padding-top: 50x;
}

/* right box w images and text */
#slot {
    background-image: url("../assets/newjackpot.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1200px;
    margin-left: 40px;
    margin-top: 15px;
}
#slot-images{
    /* border: solid black thin; */
    display: inline-block;
    width: 611px;
}

.images{
    /* border: solid black thin; */
    display: inline-block;
    height: 200px;
    width: 150px;
    margin-top: 450px;
}

.images img{
    /* border: solid black thin; */
    display: inline-block;
    height: 240px;
    width: 210px;
}

#img1{
    margin-left: 74px;
}
#img2{
    margin-left: 190px;
}
#img3{
    margin-left: 307px;
}

/* footer  */
#victory{
    border: solid black thin;
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;
    width: 900px;
    padding-left: 0px;
}