* {
    border: solid black thin;    
}

body{
    border: solid black thick;
    width: 1080px;
    margin: 50px auto;
    background-color: rgb(162, 207, 223);
   
}

/* header */
#status{
    display: inline-block;
    width:1080px;
    border-bottom: solid silver thick;
    background-color: rgb(120, 190, 216);
}

/* get 3 of a kind to win a jackpot! */
#status-winningRound{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    height: 40px;
    width: 504px;
    margin-top: 40px;
}

/*  */
#status-creditBox{
    border: solid black thick;
    border-style: inset;
    border-width: 7px;
    border-color: silver;
    background-color: snow;
    display: inline-block;
    margin-left: 140px;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 75px;
    width: 400px;
}

#status-creditBox-text{
    display: inline-block;
    width: 180px;
    height: 25px;
}

/* credit: */
#status-creditBox-text h2{
    color: black;
    font-family: 'Press Start 2P', cursive;
    text-align: left;
    font-size: 30px;
    padding-top: 20px;
    margin-left: 20px;
}

/* $100 */
#status-dollar{
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    width: 20px;
    margin-left: 50px;

}

/* left wager box w instructions */
#wagers{
    display: inline-block;
    vertical-align: top;
    border: solid silver thick;
    border-top: none;
    background-color: rgb(250, 217, 73);
    width: 190px;
    height: 820px;
}

#wagers h2{
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
    margin-left: 10px;
}


/* 1 5 10 buttons */
button{
    background-color: rgb(112, 228, 69);
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    border-style: outset;
    border-width: 7px;
    border-color: rgb(90, 165, 63);
    width: 159px;
    height: 75px;
    margin-left: 15px;
    margin-top: 60px;
}

button:hover{
    background-color: rgb(230, 49, 35);
    border-style: inset;
    border-width: 7px;
    border-color: rgb(174, 56, 26);
}

/* instructions */
#multipliers{
    border-top: solid silver thick;
    display: inline-block;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: rgb(112, 228, 69);
    margin-top: 70px;
    margin-left: 0px;
    height: 280px;
    font-size: 15px;
}

#multipliers p img {
    width: 40px;
}

#multipliers p {
    margin: 5px 5px 0px 5px ;
}

/* right box w images and text */
#slot {
    background-image: url("../assets/newjackpot.png");
    background-size: 840px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 840px;
    height: 700px;
    margin-left: 30px;
    margin-top: 30px;
}
#slot-images{
    display: inline-block;
    width: 840px;
    height: 700px;
    position: relative;
}


/* footer  */
#victory{
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    width: 648px;
    padding-top: 5px;
    margin-top: 15px;

    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

/* following is the CSS for spinning machine */

#ring1{
    display: inline-block;
    position: relative;
    top:434px;
    left:55px;
}
#ring2{
    display: inline-block;
    position: relative;
    top: 433px;
    left: 150px;
}
#ring3{
    display: inline-block;
    position: relative;
    top: 432px;
    left:240px;

}
  
.ring {
    margin: 0 auto;
    height: 83px;
    width: 130px;
    display: inline-block;
    transform-style: preserve-3d;
}

/* this give the slots in the back hidden status */
.slot {
    position: absolute;
    width: 130px;
    height: 83px;
    box-sizing: border-box;
    color: rgba(0,0,0,0.9);
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
}
  
.backface-on {
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
}
  /* this is the class we put under each ring# div to make sure the ring spins the same degrees with keyframes, so the user see the same picture when the ring stops  */
.spin-1     { transform: rotateX(-3719deg); }
.spin-2     { transform: rotateX(-3779deg); }
.spin-3     { transform: rotateX(-3839deg); }
.spin-4     { transform: rotateX(-3899deg); }
.spin-5     { transform: rotateX(-3959deg); }
.spin-6     { transform: rotateX(-4019deg); }

  /* this is the animation controls how it will spin. */
@keyframes spin-1 {
      0%    { transform: rotateX(30deg); }
      100%  { transform: rotateX(-3719deg); }
}

@keyframes spin-2 {
      0%    { transform: rotateX(30deg); }
      100%  { transform: rotateX(-3779deg); }
}

@keyframes spin-3 {
      0%    { transform: rotateX(30deg); }
      100%  { transform: rotateX(-3839deg); }
}

@keyframes spin-4 {
      0%    { transform: rotateX(30deg); }
      100%  { transform: rotateX(-3899deg); }
}

@keyframes spin-5 {
      0%    { transform: rotateX(30deg); }
      100%  { transform: rotateX(-3959deg); }
}

@keyframes spin-6 {
      0%    { transform: rotateX(30deg); }
      100%  { transform: rotateX(-4019deg); }
}

#fruits img{
    padding-top: 5px;
}

#banana {
    margin-left: 50px;
}